# unity ignore directory
Library/
Temp/
obj/


# unity ignore file
*.csproj
*.unityproj
*.sln
*.userprefs
*.vscode
*.DS_Store
*.meta


# need include the meta of file
!*.*.meta


# project ignore directory
Library_Android/
Library_iOS/
Assets/StreamingAssets/iOS/
Assets/StreamingAssets/Android/
Assets/StreamingAssets/Standalone/
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.txt.meta
TPS_cache/
/.vs
/PCBuild/Test
/Assets/Prefab/Admob Key Storer.asset
/Assets/Prefab/Admob Key Storer.asset.meta
/user.keystore
